/*Resources*/
@import './resources/colors';
@import './resources/reset';
@import './resources/typo';
/*Utilities*/
@import './utilities/header';
@import './utilities/footer';
/*Sections_scss*/
@import './sections__scss/productos';
@import './sections__scss/index';
@import './sections__scss/nosotros';
@import './sections__scss/contacto';
@import './sections__scss/como_comprar';