.footer {
    display: flex;
    background-color: #38273bff;

    a {
        transform: translate(130px, 75px);
        height: 37px;
    }
}

.img__logo--footer {
    width: 80px;
    margin-top: 27px;
}

.lista__footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

    li {
        margin: 15px;
    }

    a {
        color: $color__secundario;
        text-decoration: none;
    }

    .lista__footer--activo {
        font-weight: bold;
    }
}

.map {
    margin: 100px;
}

/* Dispositivo mobile */
@media (max-width: 425px) {

    .footer a {
        transform: none;
        height: 37px;
    }

    .img__logo--footer {
        margin: 25px;
        margin-top: 17px;
    }

    .map {
        display: none;
    }



}