.header {
    display: flex !important;
    flex-direction: column !important;
}

// .a__header {
//     display: flex;
//     text-decoration: none;
// }

.header__img {
    display: flex;
    background-color: #38273bff;
    justify-content: space-between;
}

.img__logo {
    width: 120px;
    padding: 1rem;
}

.icon__container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;

    i {
        padding: 0.5rem;
        margin: 10px;
    }

    .fa-solid.fa-envelope {
        color: $color__principal;
    }

    .fa-brands {
        color: $color__principal;
    }

}

.cart__login {
    display: flex;
    color: $color__secundario;
    align-items: flex-end;

    i {
        margin: 25px;
    }
}

.navbar--principal {
    background-color: $color__principal;
    margin-top: 8px;
}

.nav__mobile {
    display: none;
}

.menu {
    display: flex !important;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;

    li {
        display: inline;
        padding: 2%;

        &:hover {
            background-color: rgb(65, 1, 27);
            cursor: pointer;
        }

        a {
            color: $color__secundario;
            text-decoration: none;
        }
    }
}


.menu--activo {
    font-weight: bold;
}

/* Dispositivo mediano */

@media (max-width: 768px) {

    .header {
        width: 100%;
    }

    .header__img {
        display: flex;
    }

    .nav__mobile {
        display: block;
        background-color: $color__principal;
    }

    .navbar--principal {
        display: none;
    }

    .menu {
        flex-direction: column;
        font-size: 17px;
    }
}

/* Dispositivo mobile */

@media (max-width: 425px) {

    .a__header {
        display: flex;
        justify-content: center;
    }

    .nav__mobile {
        display: block;
        background-color: $color__principal;
    }

    .navbar--principal {
        display: none;
    }

    .menu {
        font-size: 12px;
    }
}