/* Paleta de colores */

/*
claret: #72002eff;
thistle: #dabedcff;
african-violet: #ab85c0ff;
old-lavender: #70566dff;
dark-purple: #38273bff;
*/

$color__principal: #72002eff;
$color__secundario: white;