$color__principal: #72002eff;
$color__secundario: white;
$color__3: #dabedcff;
$color__4: #ab85c0ff;
$color__5: #70566dff;
$color__6: #38273bff;
$color__extra: black;

/* Paleta de colores */

/*
claret: #72002eff;
thistle: #dabedcff;
african-violet: #ab85c0ff;
old-lavender: #70566dff;
dark-purple: #38273bff;
*/