* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

h1 {
    color: $color__secundario;
    background-image: linear-gradient($color__principal, $color__secundario);
    height: 50px;
    /* padding: 15px; */
    text-align: center;
}

ul {
    list-style: none;
}


@media (max-width: 768px) {

    h1 {
        padding: 2%;
    }
}