a{
    text-decoration: none;
}

.disabled{
    display: none !important;
}

.carrito__vacio{
    margin: 25px;
    display: flex;
    justify-content: center;
    color: $color__secundario;
}

.articulos__carrito{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal__container {
    width: 50%;
    padding: 2rem;
    margin: 100px;
    margin-left: 500px;
    border-radius: 4rem;
    color: #fff;
    background-color: #38273bff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
    position: fixed;
     overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;

  }

.conteiner__closeButton{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.close__button{
    display: flex;
    border-radius: 2rem;
    padding: 0.25rem;
}

.articulo__carrito{
    display: flex;
    padding: 0.5rem;
    width: 625px;
    background-color: $color__principal;
    color: $color__secundario;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

.articulo__carrito__imagen{
    width: 75px;
    height: 75px;
    border-radius: 1rem;
}

.articulo__carrito__titulo{
    width: 200px;
    height: 100%;
}

.articulo__carrito__borrar{
    border: 0;
    background-color: transparent;
    color: $color__secundario;
}

.carrito__total{
    display: flex;
    color: $color__secundario;
    padding-top: 25px;
    border-radius: 1rem;
}

.precio__total{
    font-weight: bold;
    display: flex;
}

.carrito__acciones{
    display: flex;
    justify-content: space-between;
}

.carrito__acciones__vaciar{
    border-radius: 1rem;
    color: $color__secundario;
    background-color: $color__principal;
    padding: 20px;
    margin: 4px;
}

.carrito__acciones__comprar{
    border-radius: 1rem;
    color: $color__secundario;
    background-color: $color__principal;
    padding: 20px;
    margin: 4px;
}



