.comprar__explicación {
    width: 600px;
    border: solid 15px darkmagenta;
    background-color: darkmagenta;
    font-weight: bold;
}

@media (max-width: 425px) {

    .comprar__explicación {
        width: 100%;
    }

    .yt_video {
        width: 100%;
    }

}