.main__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wp__container {

    i.fa-whatsapp::before {
        position: fixed;
        width: 65px;
        height: 65px;
        line-height: 65px;
        bottom: 30px;
        right: 30px;
        background-color: green;
        color: white;
        border-radius: 50px;
        text-align: center;
        font-size: 45px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 50;
    }

}

.ofertas__grid {
    width: 100%;
}

.categorias__main_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    padding: 2rem;
    gap: 0px 25px;
    grid-template-areas:
        "hilos botones elasticos"
        "cintas lanas cierres"
    ;
}

.titulo__cat {
    position: relative;
    top: 65px;
    font-weight: bold;
    color: $color__secundario;
    font-size: 25px;
    left: 20px;
    z-index: 2;
    width: 50%;
}

.hilos {
    grid-area: hilos;

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}

.botones {
    grid-area: botones;

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}


.elasticos {
    grid-area: elasticos;

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}


.cintas {
    grid-area: cintas;

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}


.lanas {
    grid-area: lanas;

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}


.cierres {
    grid-area: cierres;

    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}


.categorias__main_grid {
    li {
        justify-self: center;
        width: 100%;
        height: 470px;
        margin-bottom: -133px;
    }

    a {
        text-decoration: none;
    }

    p {
        font-family: 'Pacifico', cursive;
        letter-spacing: .80px;
        text-decoration: none;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.10);
    }

    100% {
        transform: scale(1);
    }
}

.pulse__button:hover {
    animation: pulse 2s;
}

/* Dispositivo mediano */

@media (max-width: 768px) {

    .main__img {
        width: 100%;
        object-fit_: contain;
    }

    .categorias__main_grid {
        padding: 0;
        gap: 0;
    }

    .ofertas__grid .categorias__main_grid {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 15%);
        grid-template-areas:
            "hilos"
            "botones"
            "elasticos"
            "cintas"
            "lanas"
            "cierres";
    }

    .categorias__main_grid li img {
        width: 95%;
        margin: auto;
        display: block;
    }

    .titulo__cat {
        left: 30px;
    }
}

@media (max-width: 425px) {

    .wp__container {

        i.fa-whatsapp::before {
            position: fixed;
            width: 55px;
            height: 55px;
            line-height: 55px;
            bottom: 15px;
            right: 15px;
            border-radius: 50px;
            font-size: 35px;
        }

    }

}