.col {
    height: 300px;
    margin: 25px;
    padding: 0;

    img {
        height: 300px;
        object-fit: cover;
    }
}

.presentacion__texto {
    margin: 16px;
    text-align: center;
    color: $color__secundario;
    background-color: $color__principal;
    border-radius: 16px;
}


/* Dispositivo mobile */

@media (max-width: 425px) {

    .col img {
        width: 100%;
    }
}