.accordion {
    --bs-accordion-active-bg: $color__principal;
    --bs-accordion-active-color: $color__secundario;
    --bs-accordion-btn-focus-border-color: $color__secundario;
    --bs-accordion-btn-focus-box-shadow: $color__secundario;
    --bs-accordion-btn-bg: rgb(245, 237, 244);
}

.col {
    height: 300px;
    margin: 25px;
    padding: 0;
}

.col img {
    height: 300px;
    object-fit: cover;
}

/* Dispositivo mobile */

@media (max-width: 425px) {

    .col img {
        width: 100%;
    }
}